* {
    margin: 0;
    padding: 0;
}

h2 {
    margin-top: 20px;
}

.flex {
    display: flex;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.box {
    background-color: gray;
    width: 100px;
    height: 100px;
    border: darkblue 2px solid;
}

.container {
    border: green 2px solid;
}

.vertical {
    height: 100vh;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}